/*------------------------------------*\
   Colours
\*------------------------------------*/
$white: #fff;
$black: #000;	

$primary: #49cac8;
$secondary: #da5a83;
$copy: #333;
$headings: $copy;
$brand: $primary;
$action: $secondary;

/*------------------------------------*\
    Structure
\*------------------------------------*/
$sidebar-base-width: 17rem;